@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html{color:#333 !important;}
body{font-family:'Source Sans Pro', sans-serif !important;}
.timeline-Tweet:hover{background-color:#FFF !important;}
.timeline-Tweet{padding:0px !important;}
.timeline-Tweet-author, .TweetAuthor, .timeline-Tweet-actions, .timeline-Tweet-retweetCredit{display:none !important;}
.timeline-TweetList-tweet{margin-bottom:15px !important;border-bottom:1px solid #EEE !important;padding-bottom:5px !important;}
.timeline-Tweet-text{margin:0 25px 0px 0px !important;font-size:16px !important;line-height:20px !important;}
.timeline-Tweet-media{margin: 10px 0 0 !important;}
